table {
    width: 100%;
    max-width: 100%;
    border-collapse: collapse;
}

th, td {
    border: 2px solid skyblue;
    padding: 15px;
    text-align: center;
}

caption {
    background-color: lightgrey;
    font-weight: bold;
}

th {
    background-color: blue;
    color: white;
}

td {
    background-color: lightblue;
}

/* Rendre le tableau responsive */
.table-container {
    width: 100%;
    overflow-x: auto; /* Ajoute un défilement horizontal si besoin */
}